<section class="clearfix dashboard__grid">
	<section class="col-xl-12 card__section">
		<section class="credit_eligibility">
			<div class="card__box">
				<div class="title_container">
					<span class="title_icon">
						<div class="icon_stub"></div>
					</span>
					<div class="text_container">
						<p>Open Roles</p>
						<p>Review and manage candidate applications.</p>
					</div>
				</div>
				<div class="button_container">
					<button class="btn btn-outline-primary btn-lg btn-full">Check Eligibility</button>
				</div>
			</div>
		</section>
	</section>

	<section class="col-md-6 col-sm-12 col-lg-6 col-xl-4 col-xs-12 card__section">
		<section class="dashboard__card">
			<section class="card__box">
				<section class="dashboard__title"><span>Active Candidates</span></section>
				<section class="clearfix card__group">
					<section class="col-md-6 col-sm-6 col-xs-6">
						<section class="sub__box__mini action__group">
							<span class="icon_stub small"></span>
							<section>
								<span><span>18</span> Applications</span>
							</section>
						</section>
						<section class="sub__box__mini action__group">
							<span class="icon_stub small"></span>
							<section>
								<span><span>15</span> Shortlisted</span>
							</section>
						</section>
					</section>
					<section class="col-md-6 col-sm-6 col-xs-6">
						<section class="sub__box action__group">
							<span class="icon_stub"></span>
							<section>
								<span><span>27</span> In Review</span>
							</section>
						</section>
					</section>
				</section>
			</section>
		</section>
	</section>

	<section class="col-md-6 col-sm-12 col-lg-6 col-xl-4 col-xs-12 card__section">
		<section class="dashboard__card">
			<section class="card__box">
				<section class="dashboard__title"><span>Interviews</span></section>
				<section class="clearfix card__group">
					<section class="col-md-6 col-sm-6 col-xs-6">
						<section class="sub__box action__group transfer__history">
							<span class="icon_stub small"></span>
							<section><span>Check Status</span></section>
						</section>
					</section>
					<section class="col-md-6 col-sm-6 col-xs-6">
						<section class="sub__box action__group transfer__history">
							<span class="lg__number"><span>7</span></span>
							<section class="lg__number__label">
								<span>Sessions</span>
								<section><span>January, 2026</span></section>
							</section>
						</section>
					</section>
				</section>
			</section>
		</section>
	</section>

	<section class="col-md-6 col-sm-12 col-lg-6 col-xl-4 col-xs-12 card__section">
		<section class="dashboard__card">
			<section class="card__box">
				<section class="dashboard__title"><span>Offers Sent</span></section>
				<section class="clearfix card__group">
					<section class="col-md-6 col-sm-6 col-xs-6">
						<section class="sub__box action__group">
							<span class="icon_stub"></span>
							<section><span><span>9</span> Pending</span></section>
						</section>
					</section>
					<section class="col-md-6 col-sm-6 col-xs-6">
						<section class="sub__box action__group">
							<span class="icon_stub"></span>
							<section><span><span>1</span> Accepted</span></section>
						</section>
					</section>
				</section>
			</section>
		</section>
	</section>

	<section class="col-md-6 col-sm-12 col-lg-6 col-xl-4 col-xs-12 card__section">
		<section class="dashboard__card">
			<section class="card__box">
				<section class="dashboard__title"><span>Applications by stage</span></section>
				<section class="clearfix card__group">
					<section class="col-md-6 col-sm-6 col-xs-6">
						<section class="sub__box__mini action__group">
							<span class="icon_stub small"></span>
							<section><span><span>0</span> Applied</span></section>
						</section>
						<section class="sub__box__mini action__group">
							<span class="icon_stub small"></span>
							<section><span><span>0</span> Screening</span></section>
						</section>
					</section>
					<section class="col-md-6 col-sm-6 col-xs-6">
						<section class="sub__box action__group">
							<span class="icon_stub"></span>
							<section><span><span>0</span> Offer</span></section>
						</section>
					</section>
				</section>
			</section>
		</section>
	</section>

	<section class="col-md-6 col-sm-12 col-lg-6 col-xl-4 col-xs-12 card__section">
		<section class="dashboard__card">
			<section class="card__box">
				<section class="dashboard__title"><span>Progress by department</span></section>
				<section class="clearfix card__group">
					<section class="col-md-6 col-sm-6 col-xs-6">
						<section class="sub__box__mini action__group">
							<span class="icon_stub small"></span>
							<section><span><span>0</span> Engineering</span></section>
						</section>
						<section class="sub__box__mini action__group">
							<span class="icon_stub small"></span>
							<section><span><span>0</span> Design</span></section>
						</section>
					</section>
					<section class="col-md-6 col-sm-6 col-xs-6">
						<section class="sub__box action__group">
							<span class="icon_stub"></span>
							<section><span><span>0</span> Operations</span></section>
						</section>
					</section>
				</section>
			</section>
		</section>
	</section>

	<section class="col-md-6 col-sm-12 col-lg-6 col-xl-4 col-xs-12 card__section">
		<section class="dashboard__card">
			<section class="card__box">
				<section class="dashboard__title"><span>Updated today</span></section>
				<section class="clearfix card__group">
					<section class="col-md-6 col-sm-6 col-xs-6">
						<section class="sub__box__mini action__group">
							<span class="icon_stub small"></span>
							<section><span><span>0</span> New</span></section>
						</section>
						<section class="sub__box__mini action__group">
							<span class="icon_stub small"></span>
							<section><span><span>0</span> Scheduled</span></section>
						</section>
					</section>
					<section class="col-md-6 col-sm-6 col-xs-6">
						<section class="sub__box action__group">
							<span class="icon_stub"></span>
							<section><span><span>0</span> Completed</span></section>
						</section>
					</section>
				</section>
			</section>
		</section>
	</section>
</section>
