<div class="p-5 text-center">
  <!-- <div class="d-inline-block bg-success text-white p-1 h5 rounded mb-4" role="alert">
    <h5 class="m-1">
      <i class="fas fa-rocket" aria-hidden="true"></i> Congratulations, <strong>ResourceryHR</strong> is
      successfully running!
    </h5>
  </div> -->
  <!-- 
  <p class="lead px-lg-5 mx-lg-5">{{ 'Recruitment::Welcome' | abpLocalization }}</p>

  <a *ngIf="!hasLoggedIn" (click)="login()" class="px-4 btn btn-primary ms-1" role="button"
  ><i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'AbpAccount::Login' | abpLocalization }}</a
  > -->
</div>
  <div class="card bg-transparent border-0 shadow-none mb-4 ">
    <div class="card-body border-0 shadow-none">
      <!-- <div class="row">
        <div class="col-md-auto text-center">
          <img src="../../assets/images/logo/ecowas-logo.png" style="max-width: 120px;" class="w-100 mb-5 my-md-3">
        </div>
        <div class="col-md d-flex align-items-center">
          <div class="pe-0 pe-md-4">
            <small class="text-muted">{{ 'Recruitment::OfficialHRSite' | abpLocalization }}</small>
            <h2 class="mb-3 font-weight-bolder">{{ 'Recruitment::ECOWASCareers' | abpLocalization }}</h2>
            <p class="mb-4  text-wrap" style="width: 35rem;">{{ 'Recruitment::ECOWASCareersDescription' |
              abpLocalization }}</p>
            <div class="mb-4">
              <a href="https://www.amazon.com/gp/product/B097Z2DM8Q/ref=dbs_a_def_rwt_hsch_vapi_tkin_p1_i0"
                class="btn btn-success mb-1">
                {{ 'Recruitment::GetStarted' | abpLocalization }}
              </a>
              &nbsp;
              <a href="https://www.packtpub.com/product/mastering-abp-framework/9781801079242"
                class="btn btn-primary mb-1">
                {{ 'Recruitment::CurrentOpening' | abpLocalization }}
              </a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="my-3 text-center">
    <h3>Let's improve your application!</h3>
    <p>Here are some links to help you get started:</p>
  </div>
  <div class="card mt-4 mb-5">
    <div class="card-body">
      <div class="row text-center justify-content-md-center">
        <div class="col-lg-4 border-start">
          <div class="p-4">
            <h5 class="mb-3">
              <i class="fas fa-cubes text-secondary d-block my-3 fa-2x" aria-hidden="true"></i> 
              {{ 'Recruitment::YoungProfessionalsProgramme' | abpLocalization }}
            </h5>
            <p>Lorem ImpSum</p>
            <a href="#" target="_blank" class="btn btn-link px-1">label <i class="fas fa-chevron-right"
                aria-hidden="true"></i></a>
          </div>
        </div>

        <div class="col-lg-4 border-start">
          <div class="p-4">
            <h5 class="mb-3">
              <i class="fas fa-cubes text-secondary d-block my-3 fa-2x" aria-hidden="true"></i> {{ 'Recruitment::CurrentOpening' | abpLocalization }}
            </h5>
            <p>Lorem ImpSum</p>
            <a href="/recruitment" target="_self" class="btn btn-link px-1">label <i class="fas fa-chevron-right"
                aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-lg-4 border-start">
          <div class="p-4">
            <h5 class="mb-3">
              <i class="fas fa-cubes text-secondary d-block my-3 fa-2x" aria-hidden="true"></i> {{ 'Recruitment::Internship' | abpLocalization }}
            </h5>
            <p>Lorem ImpSum</p>
            <a href="#" target="_blank" class="btn btn-link px-1">label <i class="fas fa-chevron-right"
                aria-hidden="true"></i></a>
          </div>
        </div>


      </div>

    </div>
  </div>


  <div class="mb-5 text-center">
    <p class="align-middle">
      <a href="https://twitter.com/abpframework" target="_blank" class="mx-2"><i class="fa fa-twitter"
          aria-hidden="true"></i><span class="text-secondary"> Abp Framework</span></a>
      <a href="https://twitter.com/abpcommercial" target="_blank" class="mx-2"><i class="fa fa-twitter"
          aria-hidden="true"></i><span class="text-secondary"> Abp Commercial</span></a>
      <a href="https://github.com/abpframework/abp" target="_blank" class="mx-2"><i class="fa fa-github"
          aria-hidden="true"></i><span class="text-secondary"> abpframework</span></a>
    </p>
  </div>

<ng-template #starterLinkTemplate let-context>
  <div class="col-lg-4 border-start">
    <div class="p-4">
      <h5 class="mb-3">
        <i class="fas fa-cubes text-secondary d-block my-3 fa-2x" aria-hidden="true"></i> {{ context.title }}
      </h5>
      <p [innerHTML]="context.description"></p>
      <ng-container *ngIf="context.customTemplate" [ngTemplateOutlet]="context.customTemplate"></ng-container>
      <a *ngFor="let link of context.links" [href]="link.href" target="_blank" class="btn btn-link px-1">{{ link.label
        }} <i class="fas fa-chevron-right" aria-hidden="true"></i></a>
    </div>
  </div>
</ng-template>


<style scoped>
  .col-lg-2.border-start:nth-of-type(6n + 1) {
    border-left: 0 !important;
  }

  .col-lg-4.border-start:nth-of-type(3n + 1) {
    border-left: 0 !important;
  }

  @media (max-width: 991px) {
    .border-start {
      border-left: 0 !important;
    }
  }
</style>